/* Header Styling */
.header{
  width: 100%;
	display: flex;
	justify-content: space-between;
  align-items: center;
	border-bottom: 1px solid white;
	background-color: black;
  min-height: 150px;
}

.titleText{
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 15px;
}

.header .titleText{
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleText svg{
  margin-left: 8px;
}

ul {
  display: flex;
  list-style: none;
}

ul li {
  margin-left: 20px;
  margin-right: 15px;
}

a {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-decoration: none;
  color: black;
  line-height: 2.2;
  background-color: white;
  border-radius: 15px;
  padding: 0px 7px;
}

/* this helps use align the icon with the anchor tags */
ul li a {
  display: flex;
  align-items: center;
}

/* move icons just a bit away from the word next to them */
ul li a svg {
  margin-right: 5px;
}
/* End of Header Styling */

/* Main content on Home Page Component */
.main{
  display: flex;
  align-items: center;
  flex-direction: row;
  /* border: solid 2px red; */
  margin-top: 30px;
  /* justify-content: space-around; */
}

.imageOne{
  margin-left: 50px;
  max-width: 300px;
  max-height: 400px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(173, 172, 172);
}
.imageTwo{
  margin-left: 30px;
  max-width: 300px;
  max-height: 190px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(173, 172, 172);
}
.imageThree{
  margin-left: 30px;
  max-width: 300px;
  max-height: 190px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(173, 172, 172);
}

.imagesContainer{
  display: flex;
  /* align-items: center; */
  /* margin-top: 40px; */
}

.imagesTwoThreeContainer{
  display: flex;
  flex-flow: column;
  gap: 20px;
}

.section{
  /* border: 2px solid blue; */
  max-width: 400px;
  min-height: 300px;
  margin-left: 200px;
  display: flex;
  flex-flow: column;
  /* align-items: center; */
}
.section h2{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  font-size: 1.5rem;
}


section .points{
  display: flex;
  flex-flow: column;
  justify-content: center;

  background-color: black;
  max-width: 100%;
  margin: 0 0 30px 0;
  border-radius: 15px;
  min-height: 60px;
}

 .points p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  color: white;
  border-radius: 10px;
  text-align: center;
  margin: 5px;
}

/* .section svg{
  color: white;
  background-color:black;
  border-radius: 50%;
  max-width: 80px;
  min-height:20px;
  font-size: 2rem;
} */

/* End of Main content styling */

